{% extends "base.html" %}

{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/publishercontact.css' %}">
{% endblock %}

{% block title %}{{publisher.name}}{% endblock %}

{% block content %}
    <h1>{{publisher.name}}</h1>
    <h3>Maison d'édition: {{publisher.company_name}}</h3>
    <hr>
    <p>{{publisher.comments}}</p>
    <hr>
    <p>
        <span class="contact-icon-box">
            <i class="fa-solid fa-building"></i>
        </span>
        Addresse: {{publisher.address}}, {{publisher.city}}, {{publisher.state}} {{publisher.zip}}
    </p>
    <p>
        <span class="contact-icon-box">
            <i class="fa-solid fa-phone"></i>
        </span>
        Telephone: {{publisher.telephone}}
    </p>
    <p>
        <span class="contact-icon-box">
            <i class="fa-solid fa-fax"></i>
        </span>
        Fax: {{publisher.fax}}</p>
{% endblock %}